<!DOCTYPE html>
<html lang="zxx" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="all"/>
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light px-sm-5 px-3 py-0">
        <h1>
            <a class="navbar-brand py-2" href="{{url_for('home')}}">
                IPL Coundown
            </a>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
					</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-xl-5 ml-lg-3 px-xl-5 px-lg-4 py-4 text-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}" style="font-size: 1.50rem;color: black; font-weight: bold;">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item mx-lg-4 my-lg-0 my-3">
                    <a class="nav-link" href="{{url_for('aboutproject')}}" style="font-size: 1.50rem;color: black; font-weight: bold;">
                        About Project
                    </a>
                </li>
                <li class="nav-item mx-lg-4 my-lg-0 my-3">
                    <a class="nav-link" href="{{url_for('features')}}" style="font-size: 1.50rem;color: black; font-weight: bold;">
                        Features
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</div>
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{url_for('home')}}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                About Project
            </li>
        </ol>
    </nav>
    <div class="banner2-w3ls">
</div>
<div style="text-align: center; margin-top: 20px; margin-left: 100px; margin-right: 100px;">
    <div style="font-size: 30px; font-family: 'Courier New', Courier, monospace;">
        About IPL Countdown Project:
    </div>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        Welcome to IPL Countdown, your ultimate destination for an immersive and insightful exploration of the Indian
        Premier League (IPL). Born out of our team's collective passion for cricket, IPL Countdown aims to elevate your
        IPL experience by providing a comprehensive platform that delves deep into the post-auction phase of the
        tournament.
    </p>
</div>
<div style="height: 50px;"></div>

<div style="text-align: center; margin-left: 100px; margin-right: 100px;">
    <div style="font-size: 30px; font-family: 'Courier New', Courier, monospace;">
        Our Mission:
    </div>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        At IPL Countdown, we are driven by a singular mission: to empower cricket enthusiasts and professionals alike
        with unparalleled access to data, analysis, and insights surrounding the IPL. As the excitement builds up
        between the auction and the first match, we strive to be your trusted companion, offering a wealth of
        information to fuel your anticipation and strategic planning.
    </p>
</div>
<div style="height: 50px;"></div>
<div style="text-align: center; margin-left: 100px; margin-right: 100px;">
    <div style="font-size: 30px; font-family: 'Courier New', Courier, monospace;">
        What We Offer:
    </div>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        Player Profiles: Step into the world of IPL players with our extensive player profiles. From personal details to
        performance statistics, our profiles offer a holistic view of each player, allowing you to understand their
        contributions on and off the field.
    </p>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        Team Dynamics: Unravel the intricacies of team compositions and strategies with our in-depth analysis of
        franchise dynamics. Explore team budgets, coaching staff, and player selections to gain valuable insights into
        each team's approach to the tournament.

    </p>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        Match Schedules: Stay ahead of the game with our detailed match schedules. Whether you're planning your viewing
        schedule or tracking your favorite team's journey, our schedules provide all the information you need, including
        match dates, venues, and statuses.
    </p>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        Historical Data: Immerse yourself in the rich history of the IPL with our comprehensive archive of past season
        records. From champions to individual awards, relive the memorable moments that have shaped the legacy of the
        IPL.
    </p>
</div>
<div style="height: 50px;"></div>
<div style="text-align: center; margin-left: 100px; margin-right: 100px;">
    <div style="font-size: 30px; font-family: 'Courier New', Courier, monospace;">
        Why Choose IPL Countdown:
    </div>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        Data Integrity: Our robust database architecture ensures the integrity and accuracy of the data we provide. With
        meticulous attention to detail, we strive to deliver reliable insights for your IPL journey.
        User-Friendly Interface: Navigating through IPL data has never been easier thanks to our intuitive and
        interactive user interface. Whether you're a seasoned analyst or a casual fan, our platform is designed to cater
        to your needs.
    </p>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        Passionate Team: Behind IPL Countdown is a team of dedicated individuals united by their love for cricket. From
        data scientists to frontend developers, our team brings together diverse expertise to deliver excellence in
        sports data analytics.
    </p>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        Accessible Anywhere: Whether you're at home, at work, or on the go, IPL Countdown is accessible across all
        devices. With seamless compatibility on desktops, tablets, and smartphones, you can stay connected to the world
        of IPL cricket wherever you are.
    </p>
    <p style="font-family: 'Open Sans', sans-serif; text-align: justify; color: black; font-size: 20px; text-indent: ; margin-top: 20px;">
        Join us on this exhilarating journey through the heart of the IPL. As we countdown to the next match, let IPL
        Countdown be your trusted companion, guiding you through every moment of the tournament with passion, precision,
        and unparalleled insight.

    </p>
</div>
<div style="padding-top: 20px; padding-left: 100px; padding-right: 100px; ">
    <p style="font-family: 'Courier New', Courier, monospace; text-align: justify; color: black; font-size: 20px; text-indent: ;">

    </p>
</div>

<div class="gallery py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="row gallery-grids">
            <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <div class="example-image-link" data-lightbox="example-set" data-title="">
                            <img src="static/images/AboutProject/img_1.png" alt="" class="img-fluid"
                                 style="height: 242px;"/>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <div class="example-image-link" data-lightbox="example-set" data-title="">
                            <img src="static/images/AboutProject/img.png" alt="" class="img-fluid"
                                 style="height: 242px;"/>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <div class="example-image-link" data-lightbox="example-set" data-title="">
                            <img src="static/images/AboutProject/img1.png" alt="" class="img-fluid"
                                 style="height: 242px;"/>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<b>-->
<!--    <div style="padding-top: 20px; padding-left: 100px; padding-right: 100px;">-->
<!--        <p style="font-size: 25px; color: black; font-family: 'Courier New', Courier, monospace;">-->

<!--        </p>-->
<!--    </div>-->
<!--</b>-->
<!--<b>-->
<!--    <div style="padding-top: 20px; padding-left: 100px; padding-right: 100px; ">-->
<!--        <p style="font-family: 'Courier New', Courier, monospace; text-align: justify; color: black; font-size: 20px; text-indent: 50px;">-->

<!--        </p>-->
<!--    </div>-->
<!--</b>-->
<!--<div style="padding-top: 20px; padding-left: 100px; padding-right: 100px; ">-->
<!--    <p style="font-family: 'Courier New', Courier, monospace; text-align: justify; color: black; font-size: 20px; text-indent: 100px;">-->

<!--    </p>-->
<!--</div>-->
<!--<b>-->
<!--    <div style="padding-top: 20px; padding-left: 100px; padding-right: 100px; ">-->
<!--        <p style="font-family: 'Courier New', Courier, monospace; text-align: justify; color: black; font-size: 20px; text-indent: 50px;">-->

<!--        </p>-->
<!--    </div>-->
<!--</b>-->
<!--<div style="padding-top: 20px; padding-left: 100px; padding-right: 100px; ">-->
<!--    <p style="font-family: 'Courier New', Courier, monospace; text-align: justify; color: black; font-size: 20px; text-indent: 100px;">-->

<!--    </p>-->
<!--</div>-->
<!--<b>-->
<!--    <div style="padding-top: 20px; padding-left: 100px; padding-right: 100px; ">-->
<!--        <p style="font-family: 'Courier New', Courier, monospace; text-align: justify; color: black; font-size: 20px; text-indent: 50px;">-->

<!--        </p>-->
<!--    </div>-->
<!--</b>-->
<!--<div style="padding-top: 20px; padding-left: 100px; padding-right: 100px; ">-->
<!--    <p style="font-family: 'Courier New', Courier, monospace; text-align: justify; color: black; font-size: 20px; text-indent: 100px;">-->

<!--    </p>-->
<!--</div>-->
<!--<div style="padding-bottom: 50px;">-->
<!--</div>-->
</body>
</html>