<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="all"/>
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light px-sm-5 px-3 py-0">
        <h1>
            <a class="navbar-brand py-2" href="{{url_for('home')}}">
                IPL Coundown
            </a>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
					</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-xl-5 ml-lg-3 px-xl-5 px-lg-4 py-4 text-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}"
                       style="font-size: 1.50rem;color: black; font-weight: bold;">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item mx-lg-4 my-lg-0 my-3">
                    <a class="nav-link" href="{{url_for('aboutproject')}}"
                       style="font-size: 1.50rem;color: black; font-weight: bold;">
                        About Project
                    </a>
                </li>
                <li class="nav-item mx-lg-4 my-lg-0 my-3">
                    <a class="nav-link" href="{{url_for('features')}}"
                       style="font-size: 1.50rem;color: black; font-weight: bold;">
                        Features
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</div>
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{url_for('home')}}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Features
            </li>
        </ol>
    </nav>
    <div class="banner2-w3ls">
    </div>
    <div class="gallery py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="row gallery-grids">
                <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <a class="example-image-link" href="{{url_for('playerInfo')}}" data-lightbox="example-set"
                               data-title="">
                                <img src="static/images/Cricket predictions/runrate.jpg" alt="" class="img-fluid"
                                     style="height: 242px;"/>
                                <div class="text-gallery-w3ls">
                                    <h3>
                                        Player Info
                                    </h3>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <a class="example-image-link" href="{{url_for('matchesScheduled')}}" data-lightbox="example-set"
                               data-title="">
                                <img src="static/images/Cricket predictions/in match stats.jpg" alt="" class="img-fluid"
                                     style="height: 242px;"/>
                                <div class="text-gallery-w3ls">
                                    <h3>
                                        Matches Schedule
                                    </h3>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <a class="example-image-link" href="{{url_for('coaches')}}" data-lightbox="example-set"
                               data-title="">
                                <img src="static/images/Cricket predictions/team.jpg" alt="" class="img-fluid"
                                     style="height: 242px;"/>
                                <div class="text-gallery-w3ls">
                                    <h3>
                                        Coaches
                                    </h3>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <a class="example-image-link" href="{{url_for('teamComposition')}}" data-lightbox="example-set"
                               data-title="">
                                <img src="static/images/Cricket predictions/team.jpg" alt="" class="img-fluid"
                                     style="height: 242px;"/>
                                <div class="text-gallery-w3ls">
                                    <h3>
                                        Team Composition
                                    </h3>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <a class="example-image-link" href="{{url_for('home')}}" data-lightbox="example-set"
                               data-title="">
                                <img src="static/images/Cricket predictions/team.jpg" alt="" class="img-fluid"
                                     style="height: 242px;"/>
                                <div class="text-gallery-w3ls">
                                    <h3>
                                        Budget For Franchise
                                    </h3>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>